*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/chengdu/release/ZHDJApp_chengdu.apk
app/chengdu/release/ZHDJApp_chengdu_V1.4.4_2023-06-01.02.38.17_.apk
*.apk
